<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<body>
<h1 th:text="'Hello, ' + ${customer.firstName} + ' ' + ${customer.lastName}"></h1>
<h2>Your apartments</h2>

<ul th:each="apartment : ${apartments}">
    <li th:text="${apartment.name}"></li>
</ul>

<h2>Add new apartment</h2>
<div>
    <form th:object="${apartmentForm}" method="post" th:action="@{/addApartment}" action="#" th:method="'post'" >
        <input type="text" th:field="*{name}" />
        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>